:root {
    --text-color: #333;
    --white-color: #ffffff;
    --black-color: #000;
    --primary-color: #f6412e;
    --secondary-color: #ff6333;
    --toggle-color: #e5e5e5;
    --toggle-br-right-bottom: #ff6333;
    --toggle-text-contact: white;
}
* {
    box-sizing: inherit;
}
html {
    font-family: "Roboto", sans-serif;
    font-size: 62.5%;
    font-weight: 400;
    color: var(--text-color);
    box-sizing: border-box;
    line-height: 1.6rem;
}
/* js html */
.htmlJS {
    --toggle-color: #2a323f;
    --text-color: #999;
    --toggle-br-right-bottom: #2b1a1c;
    --toggle-text-contact: #f6412e;
}
/* @keyframes */
@keyframes lightColor {
    from {
        filter: brightness(100%);
    }
    to {
        filter: brightness(90%);
    }
}
@keyframes moveUp {
    from {
        margin-top: 50px;
        opacity: 0;
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}
@keyframes moveDown {
    from {
        margin-top: -100px;
        opacity: 0.5;
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}
@keyframes moveLeft {
    from {
        margin-left: -50px;
        opacity: 0;
    }
    to {
        margin-left: 0;
        opacity: 1;
    }
}
@keyframes moveRight {
    from {
        margin-left: 100px;
        opacity: 0.5;
    }
    to {
        margin-left: 0;
        opacity: 1;
    }
}
@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes spin {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0);
    }
}
@keyframes upDown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-10px);
    }
}
/* Button */
.btn_all {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 600;
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 8px;
    transform: scale(1);
    transition: 0.3s;
}
.btn_all:hover {
    transform: scale(0.9);
    cursor: pointer;
}
